*{
  padding: 0;
  font-family: 'Sigmar', cursive;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 100vw;
  min-height:90vh;
  background-color: rgb(235, 87, 33);
}